<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Area</title>
</head>
<body>
    <p>The length of the rectangle is: {{ .Length }} </p>
    <p>The width of the rectangle is: {{ .Width }} </p>
    <p>The area of the rectangle is: {{ .Area }} </p>
    
    <p>Source code for this page:
        <a mimetype="text/plain" href="../static/formula/area.txt">area.txt</a>
    </p>
</body>
</html>