<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Form</title>
</head>
<body>
    <h1>QuoteBox</h1>
    <hr>
    <form action="/quote-add" method="post" id="quoteform">
        <fieldset>
            <legend>Add a Quote</legend>
            <label for="">Author</label>
            <input type="text" name="author_name">
            </br></br>
            <label for="">Category</label>
            <input type="text" name="category">
            </br></br>
            <label for="">Quote</label>
            <input type="textarea" name="quote">
            </br></br>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
    <hr>
</body>
</html>